# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local
!.env.example

# Build outputs
dist/
build/
.next/
out/
.expo/
.expo-shared/
web-build/

# Turbo
.turbo/

# Testing
coverage/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea/

# Expo / RN
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Supabase local
supabase/.branches
supabase/.temp

# TypeScript
*.tsbuildinfo
